.记录{
    

    background-color: #96ffae8c;
    border: 3px #0065188c solid;
    padding:30px ;
    margin:5px;
    color:blue;
}

.news{
    

    background-color: #e7ff358c;
    border: 3px #0c0c0c8c solid;
    padding:30px ;
    margin:5px;
    color:blue;
}